
table{
    margin: auto;
    width: 40%;
    border: 3px solid red;
}
td,th{
    border:2px solid blue;
}
tfoot  {
    background-color: #ff6f6fd1;
}
thead{
    background-color: #ffe0d5;
}
tbody td:first-child{
    background-color: aqua;
}
tbody tr:nth-of-type(odd){
    background-color: rgb(199, 204, 131);
}
tbody tr:nth-of-type(even){
    background-color: silver;
}
caption{
    color: red;
}
caption::after{content: "#5";
color: blueviolet;}